<!DOCTYPE html>
<html>
    <head>
        <title>Cards Game</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="board">
            <!-- Easy -->
            <table id="game_board_easy">
                <tr id="first_row_easy">
                    <th> <!-- Player Name --> </th>
                </tr>
                <tr id="second_row_easy">
                    <td>                        
                        <button id="card_easy_0"></button>
                    </td>
                    <td>                        
                        <button id="card_easy_1"></button>
                    </td>
                    <td>                        
                        <button id="card_easy_2"></button>
                    </td>
                </tr>
                <tr id="third_row_easy">
                    <td>                       
                       <button id="card_easy_3"></button>
                    </td>
                    <td>                        
                        <button id="card_easy_4"></button>
                    </td>
                    <td>                        
                        <button id="card_easy_5"></button>
                    </td>
                </tr>
            </table>
            <!-- Medium -->
            <table id="game_board_medium">
                <tr id="first_row_medium">
                    <th> <!-- Player Name --> </th>
                </tr>
                <tr id="second_row_medium">
                    <td>                        
                        <button id="card_medium_0"></button>
                    </td>
                    <td>                        
                        <button id="card_medium_1"></button>
                    </td>
                    <td>                        
                        <button id="card_medium_2"></button>
                    </td>
                    <td>                       
                       <button id="card_medium_3"></button>
                    </td>
                    <td>                        
                        <button id="card_medium_4"></button>
                    </td>
                </tr>
                <tr id="third_row_medium">
                    <td>                        
                        <button id="card_medium_5"></button>
                    </td>
                    <td>                        
                        <button id="card_medium_6"></button>
                    </td>
                    <td>                        
                        <button id="card_medium_7"></button>
                    </td>
                    <td>                        
                        <button id="card_medium_8"></button>
                    </td>
                    <td>                        
                        <button id="card_medium_9"></button>
                    </td>
                </tr>
            </table>
            <!-- Hard -->
            <table id="game_board_hard">
                <tr id="first_row_hard">
                    <th> <!-- Player Name --> </th>
                </tr>
                <tr id="second_row_hard">
                    <td>
                        <button id="card_hard_0"></button>
                    </td>
                    <td>
                        <button id="card_1"></button>
                    </td>
                    <td>
                        <button id="card_2"></button>
                    </td>
                    <td>
                       <button id="card_3"></button>
                    </td>
                    <td>
                        <button id="card_4"></button>
                    </td>
                    <td>
                        <button id="card_5"></button>
                    </td>
                    <td>
                        <button id="card_6"></button>
                    </td>
                    <td>
                        <button id="card_7"></button>
                    </td>
                </tr>
                <tr id="third_row_hard">
                    <td>
                        <button id="card_8"></button>
                    </td>
                    <td>
                        <button id="card_9"></button>
                    </td>
                    <td>                        
                        <button id="card_10"></button>
                    </td>
                    <td>                        
                        <button id="card_11"></button>
                    </td>
                    <td>                        
                        <button id="card_12"></button>
                    </td>
                    <td>                        
                        <button id="card_13"></button>
                    </td>
                    <td>                        
                        <button id="card_14"></button>
                    </td>
                    <td>                        
                        <button id="card_15"></button>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>