<!DOCTYPE html>
<html>
    <head>
        <title>Cards Game</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div>
            <table id="game_board_easy">
                <tr id="first_row">
                    <th> <!-- Player Name --> </th>
                </tr>
                <tr id="second_row">
                    <td>
                        <!-- Coger carta del game -->
                        <button id="card_0"></button>
                    </td>
                    <td>
                        <!-- Coger carta del game -->
                        <button id="card_1"></button>
                    </td>
                    <td>
                        <!-- Coger carta del game -->
                        <button id="card_2"></button>
                    </td>
                </tr>
                <tr id="third_row">
                    <td>
                       <!-- Coger carta del game -->
                       <button id="card_3"></button>
                    </td>
                    <td>
                        <!-- Coger carta del game -->
                        <button id="card_4"></button>
                    </td>
                    <td>
                        <!-- Coger carta del game -->
                        <button id="card_5"></button>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>