<!DOCTYPE html>
<html>
    <head>
        <title>Cards Game</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="board">
            <!-- Easy -->
            <table id="game_board_easy">
                <tr id="first_row_easy">
                    <th id="easy_player_name"> <!-- Player Name --> </th>
                </tr>
                <tr id="second_row_easy">
                    <td>                        
                        <button id="card_easy_0" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_easy_1" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_easy_2" data-card-value=""></button>
                    </td>
                </tr>
                <tr id="third_row_easy">
                    <td>                       
                       <button id="card_easy_3" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_easy_4" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_easy_5" data-card-value=""></button>
                    </td>
                </tr>
            </table>
            <!-- Medium -->
            <table id="game_board_medium">
                <tr id="first_row_medium">
                    <th id="medium_player_name"> <!-- Player Name --> </th>
                </tr>
                <tr id="second_row_medium">
                    <td>                        
                        <button id="card_medium_0" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_medium_1" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_medium_2" data-card-value=""></button>
                    </td>
                    <td>                       
                       <button id="card_medium_3" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_medium_4" data-card-value=""></button>
                    </td>
                </tr>
                <tr id="third_row_medium">
                    <td>                        
                        <button id="card_medium_5" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_medium_6" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_medium_7" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_medium_8" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_medium_9" data-card-value=""></button>
                    </td>
                </tr>
            </table>
            <!-- Hard -->
            <table id="game_board_hard">
                <tr id="first_row_hard">
                    <th id="hard_player_name"> <!-- Player Name --> </th>
                </tr>
                <tr id="second_row_hard">
                    <td>
                        <button id="card_hard_0" data-card-value=""></button>
                    </td>
                    <td>
                        <button id="card_hard_1" data-card-value=""></button>
                    </td>
                    <td>
                        <button id="card_hard_2" data-card-value=""></button>
                    </td>
                    <td>
                       <button id="card_hard_3" data-card-value=""></button>
                    </td>
                    <td>
                        <button id="card_hard_4" data-card-value=""></button>
                    </td>
                    <td>
                        <button id="card_hard_5" data-card-value=""></button>
                    </td>
                    <td>
                        <button id="card_hard_6" data-card-value=""></button>
                    </td>
                    <td>
                        <button id="card_hard_7" data-card-value=""></button>
                    </td>
                </tr>
                <tr id="third_row_hard">
                    <td>
                        <button id="card_hard_8" data-card-value=""></button>
                    </td>
                    <td>
                        <button id="card_hard_9" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_hard_10" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_hard_11" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_hard_12" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_hard_13" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_hard_14" data-card-value=""></button>
                    </td>
                    <td>                        
                        <button id="card_hard_15" data-card-value=""></button>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>