<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cards Game Main menu </title>
        <link rel="stylesheet" type="text/css" href="style/style.css">
    </head>
    <body>
        <div id="main_menu">
            <button id="start">Start</button>
            <button id="ranking">Show Ranking</button>
            <button id="exit">Exit</button>
        </div>

        <div id="name_dificulty">
            <input type="text" id="player_name" placeholder="Your name: ">
            <select id="difficulty">
                <option id="easy" value="easy">Easy</option>
                <option id="medium" value="medium">Medium</option>
                <option id="hard" value="hard">Hard</option>
            </select>
            <button id="start_game">Start Game!</button>
        </div>

        <script src="controller.js"></script>
    </body>
</html>
